html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

@media (min-width: 300px) and (max-width:700px) {

      body {
        margin: 4rem;
        text-align: justify;
      }
    
      #title {
        font-size: 1.8rem;;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
    
      #first {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        font-size: 1.2rem;
        text-align: center;
      }
    
      .content {
        display: flex;
        flex-wrap: wrap;
      }

#capter {
    font-size: 1.4rem;
    text-align: center;
} 
 }

@media (min-width:700px) and (max-width: 1400px ) {

    body {
        margin: 5rem;
        font-size: 1.6rem;
    }

    #first {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        font-size: 2.4rem;
        text-align: center;
        list-style: none;
      }

      h1 {
        text-align: center;
        font-size: 6rem;
      }

      #title {
        font-size: 2.8rem;
        text-align: center;
      }

      #content-aside {
        display: flex;
        justify-content: center;
      }

      .main-content {
        width: 95%;
        margin: auto;
    }   

    footer {
        width: 95%;
        margin: auto;
    }   

    #capter {
        font-size: 1.8rem;
        text-align: center;
    }
    
}

@media (min-width:1200px) {

    #content-aside {
        width: 90%;
        display: flex;
        justify-content: center;
    }
    body {
        margin: 5rem;
        font-size: 1.6rem;
    }

    #first {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        font-size: 2.4rem;
        text-align: center;
        list-style: none;
        background-color: rgb(182, 211, 195);
        width: 100%;
      }

      h1 {
        text-align: center;
        font-size: 6rem;
      }

      #title {
        font-size: 2.8rem;
        text-align: center;
      }

      .main-content {
        width: 95%;
        margin: auto;
    }   

    footer {
        width: 95%;
        margin: auto;
    }   

    #capter {
        font-size: 1.8rem;
        text-align: center;
    }
    
}