
body {
    background-color: rgb(168, 223, 161);
    text-align: justify;
    font-size: 15px;
}

#inputPassword6 {
    background-color: rgb(255, 255, 255);
    width: 220px;
    height: 30px;
}

.p {
    font-size: large;
}

#floatingTextarea2 {
    min-width: 200px;
}

#form {
    border: solid 3px rgb(82, 105, 79);
    padding: 2rem;
    justify-content: center;
    width: 80%;
    margin: 10%;
}

p {
    background-color: rgb(152, 236, 157);
    border-radius: 0%;
}

