

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
  }
  
  .header-img {
    width: 70px;
  }
  
  .gallery-img {
    width: 150px;
  }
  
  .social-img {
    width: 25px;
    margin-left: 10px;
  }

  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(65, 65, 65);
    color: white;
  }

  #p {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.0rem;
    margin-top: 0.4rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  #section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 2rem;
  }

  .content {
    text-align: center;
    background-color: rgb(118, 145, 136);
    margin: 0.2rem;
    border-radius: 10px;
  }

  hr {
    width: 11rem;
    margin: 0 auto;
    height: 0.2rem;
    background-color: black;
  }

  h3:hover {
    color: #0fa36b;
  }